{% extends "base.html" %}
  {% block title %}Технологии{% endblock %}
  {% block content %}
    <div class="container py-4">
			<div class="card my-2">
			<h1 class="card-header display-6">Технологии проекта</h1>
					<div class="card-body">
						<div class="row">
							<aside class="col-12 col-md-4">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										Python
										<div class="progress">
											<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
										</div>
									</li>
									<li class="list-group-item">
										Django
										<div class="progress">
											<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
										</div>
									</li>
									<li class="list-group-item">
										HTML
										<div class="progress">
											<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 21%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">21%</div>
										</div>
									</li>
									<li class="list-group-item">
										CSS (Bootstrap)
										<div class="progress">
											<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 9%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">9%</div>
										</div>
									</li>
								</ul>
								<br>
							</aside>
							<article class="col-12 col-md-8">
								<div class="row">
									<h6>Для создания проекта использовалось:</h6>
									<p>Этот сайт разрабатывался с помощью IDE Visual Studio Code и PyCharm.</p>
									<p>Backend написан на языке Python с применением фреймворка Django.</p>
									<p>Frontend: Html + Bootstrap.</p>
								</div>
							</article>
						</div>
					</div>
			</div>
    </div>
  {% endblock %}
