{% extends "base.html" %}
  {% block title %}Технологии{% endblock %}
  {% block content %}
    <div class="container py-5">
      <div class="row">
        <h1>Вот что я умею</h1>
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Python
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
              </div>
            </li>
            <li class="list-group-item">
              Django
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">15%</div>
              </div>
            </li>
            <li class="list-group-item">
              HTML
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </li>
            <li class="list-group-item">
              CSS
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
              </div>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>Текст страницы "Технологии"</p>
        </article>
      </div>
    </div>
  {% endblock %}