{% load thumbnail %}
  <div class="card mb-4">
    <div class="card-header">
			{% if author %}
				<h6 class="card-title">Автор: {{ post.author.get_full_name }}</h6>
			{% else %}
				<h6 class="card-title">Автор: <a class="text-muted" href="{% url 'posts:profile' post.author %}">{{ post.author.get_full_name }}</a></h6>
			{% endif %}
				<span class="text-muted">Дата публикации: {{ post.pub_date|date:"d E Y H:i" }}</span>
    </div>
    <div class="card-body">
      {% thumbnail post.image "960x350" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      {% if post.text|length > 300 %}
        <p class="card-text">{{ post.text|truncatechars_html:300|linebreaksbr }}</p>
        <p><a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-outline-dark btn-sm">Читать далее</a></p>
      {% else %}
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
        <p><a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-outline-dark btn-sm">Читать далее</a></p>
      {% endif %}
    </div>
    {% if not group %}
      <div class="card-footer">
				<div class="row">
					<aside class="fluid">
						{% if post.group %}
							Сообщество: <a class="text-muted" href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>
						{% else %}
							<span style='color:gray'>Этой записи нет ни в одном сообществе</span>
						{% endif %}
					</aside>
				  <article class="fluid">
						{% if post.comments.count > 0 %}
					    Комментариев: <a class="text-muted" href="{% url 'posts:post_detail' post.pk %}">{{ post.comments.count }}</a>
						{% endif %}
					</article>
				</div>
      </div>
    {% endif %}
  </div>