{% if user.is_authenticated %}
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if view_name == 'posts:index' %}active{% endif %}" href="{% url 'posts:index' %}">
          Все записи
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if view_name == 'posts:follow_index' %}active{% endif %}" href="{% url 'posts:follow_index' %}">
          Мои подписки
        </a>
      </li>
    </ul>
  </div>
{% endif %}
