{% extends 'base.html' %}
{% block title %}Профиль автора {{ author.get_full_name }}{% endblock %}
{% block content %}
{% load thumbnail %}
  <div class="container py-4">
    <div class="card my-2">
		  <h5 class="card-header">Автор {{ author.get_full_name }}</h5>
			<div class="card-body">
				{% if author != request.user %}
					<div class="row">
						<aside class="col-md-4">
							{% thumbnail author.profile_pic "300x300" crop="center" upscale=True as im %}
								<img class="rounded mx-auto d-block" src="{{ im.url }}"><br>
							{% endthumbnail %}
						</aside>
						<article class="col-md-8">
							<h1>Все записи автора {{ author.get_full_name }}</h1>
							<h6>Всего записей: {{ author.posts.count }}</h6>
							<h6>Подписчиков: {{ author.following.count }}</h6>
							{% if author.city != None %}<div>Город: {{ author.city }}</div>{% endif %}
							{% if author.vk != None %}<div>Вконтакте: <a class="text-muted" href="https://vk.com/{{author.vk}}" target="_blank">{{ author.vk }}</a></div>{% endif %}
							{% if author.telegram != None %}<div>Telegram: <a class="text-muted" href="https://t.me/{{author.telegram}}" target="_blank">{{ author.telegram }}</a></div>{% endif %}
							{% if author.instagram != None %}<div>Instagram: <a class="text-muted" href="https://instagram.com/{{author.instagram}}" target="_blank">{{ author.instagram }}</a></div>{% endif %}
							{% if author.git != None %}<div>Git: <a class="text-muted" href="https://github.com/{{author.git}}" target="_blank">{{ author.git }}</a></div>{% endif %}
							<br>
							<div>
								{% if following %}
									<a class="btn btn-outline-danger" href="{% url 'posts:profile_unfollow' author.username %}" role="button">Отписаться</a>
								{% else %}
									<a class="btn btn-success" href="{% url 'posts:profile_follow' author.username %}" role="button">Подписаться</a>
								{% endif %}
							</div>
						</article>
					</div>
				{% else %}
					<div class="row">
						<aside class="col-md-4">
							{% thumbnail author.profile_pic "300x300" crop="center" upscale=True as im %}
								<img class="rounded mx-auto d-block" src="{{ im.url }}"><br>
							{% endthumbnail %}
						</aside>
						<article class="col-md-8">
							<h1>Все мои записи</h1>
							<h6>Всего моих записей: {{ author.posts.count }}</h6>
							<h6>Подписчиков: {{ author.following.count }}</h6>
							{% if author.city != None %}<div>Город: {{ author.city }}</div>{% endif %}
							{% if author.vk != None %}<div>Вконтакте: <a class="text-muted" href="https://vk.com/{{author.vk}}" target="_blank">{{ author.vk }}</a></div>{% endif %}
							{% if author.telegram != None %}<div>Telegram: <a class="text-muted" href="https://t.me/{{author.telegram}}" target="_blank">{{ author.telegram }}</a></div>{% endif %}
							{% if author.instagram != None %}<div>Instagram: <a class="text-muted"  href="https://instagram.com/{{author.instagram}}" target="_blank">{{ author.instagram }}</a></div>{% endif %}
							{% if author.git != None %}<div>Git: <a class="text-muted"  href="https://github.com/{{author.git}}" target="_blank">{{ author.git }}</a></div>{% endif %}
							<br>
							<div>
								<a class="btn btn-outline-success" href="{% url 'users:change' %}">Изменить профиль</a>
							</div>
						</article>
					</div>
				{% endif %}
			</div>
    </div>
		<br>
    {% for post in page_obj %}
    {% include 'posts/includes/post_card.html' %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}