{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
  <div class="container py-5"> 
    {% if validlink %}
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">
              Введите новый пароль
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% include 'includes/forms.html' %}
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-dark">Назначить новый пароль</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">
              Ошибка
            </div>
            <div class="card-body">
              <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}