{% extends "base.html" %}
{% load user_filters %}
{% block title %}Мой профиль{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-md-4">
        <h1>{{ user.username }}</h1>
        <img class="rounded mx-auto d-block" src="{{ user.profile.profile_pic.url }}">
      </aside>
      <article class="col-md-8">
        <div class="card">
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <legend class="border-bottom mb-4">Мои данные</legend>
                {% for field in u_form %} 
                <div class="form-group row my-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {{ field|addclass:'form-control' }} 
                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                  {% for field in p_form %} 
                  <div class="form-group row my-3">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}
                        {% if field.field.required %}
                          <span class="required text-danger">*</span>
                        {% endif %}
                    </label>
                    {{ field|addclass:'form-control' }} 
                      {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                      {% endif %}
                  </div>
                  {% endfor %}
              <div class="form-group">
                  <button class="btn btn-outline-success" type="submit">Обновить данные</button>
              </div>
          </div>
        </div>
      </article>
  </div>
{% endblock %}